/* Concerns.css */

.concerns-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust alignment as needed */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
  background-color: #fff; /* Set your desired background color */
  padding-top: 60px; /* Adjust based on your header height */
  box-sizing: border-box; /* Ensure padding is included in height */
}

.concerns-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.concerns-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust columns as needed */
  grid-template-rows: repeat(2, 1fr); /* Adjust rows as needed */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust for header height */
  margin-top: 20px; /* Adjust to add spacing between header and grid */
  overflow: hidden; /* Prevent content overflow */
}

.concern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fffdf0; /* Set your desired background color */
  border: 1px solid #ffaf7a; /* Add borders or styling as needed */
  height: 100%; /* Ensure each quadrant fills the grid cell */
}

.concern:hover {
  background-color: #e34e4e; /* Hover background color */
}

.concern h3 {
  font-size: 34px;
  margin-bottom: 10px;
}

.concern p {
  font-size: 19px;
  color: #666;
}
